<div class="container">
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Afspraak datum</th>
                <th>Email</th>
                <th>Gemaakt door</th>
                <th>Telefoonnummer</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let afspraak of service.afspraakList">
                <td>{{afspraak.persoonId}}</td>
                <td>{{afspraak.afspraakId}}</td>
                <td>{{afspraak.datum}}</td>
                <td>{{afspraak.notitie}}</td>
                <td><button class="status-button">Open</button></td>
            </tr>
        </tbody>
    </table>
</div>
