<body>
    <table >
        <thead>
            <th>Naam</th>
            <th>Datum</th>
            <th>Email</th>
            <th>Gemaakt door</th>
            <th>Telefoonnummer</th>
            <th>Status</th>
         </thead>
        <tbody>
        <tr>
            <td>John Doe</td>
            <td>11-03-1966</td>
            <td>JD gmail.com</td>
            <td>Jannie van de Harst</td>
            <td>0612345678</td>
            <td><button class="status-button">Open</button></td>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>11-03-1966</td>
            <td>JD gmail.com</td>
            <td>Jannie van de Harst</td>
            <td>0612345678</td>
            <td><button class="status-button">Closed</button></td>
        </tr>
        </tbody>
    </table>
</body>