<div class="form-container">
    <div class="section-container">
        <div class="section">
            <h2>Persoonsgegevens</h2>
            <div class="input-group">
                <input type="text" placeholder="Voornaam">
                <input type="text" placeholder="Achternaam">
            </div>
            <input type="email" placeholder="Email">
            <input type="date" placeholder="Geboortedatum">
            <input type="text" placeholder="Adres">
        </div>
        
        <div class="section">
            <h2>Datum en Tijd</h2>
            <input type="date" placeholder="Datum">
            <input type="time" placeholder="Tijd">
        </div>
    </div>
    
    <div class="section-container">
        <div class="section">
            <h4>Behandelaar</h4>
            <select>
                <option value="" disabled selected>Selecteer behandelaar</option>
                <option value="behandelaar1">Behandelaar 1</option>
                <option value="behandelaar2">Behandelaar 2</option>
                <!-- Voeg meer opties toe indien nodig -->
            </select>
            <h4>Locatie</h4>
            <select>
                <option value="" disabled selected>Selecteer locatie</option>
                <option value="locatie1">Locatie A</option>
                <option value="locatie2">Locatie B</option>
                <!-- Voeg meer opties toe indien nodig -->
            </select>
            <h4>Dienst</h4>
            <select>
                <option value="" disabled selected>Selecteer diensttype</option>
                <option value="type1">Type 1</option>
                <option value="type2">Type 2</option>
                <!-- Voeg meer opties toe indien nodig -->
            </select>
            
        </div>
        
        <div class="section">
            <h4>Gemaakt door</h4>
            <select>
                <option value="" disabled selected>Selecteer werknemer</option>
                <option value="type1">John Doe</option>
                <option value="type2">Dohn Joe</option>
                <!-- Voeg meer opties toe indien nodig -->
            </select>
            <h4>Notities</h4>
            <textarea placeholder="Voeg notities toe"></textarea>
        </div>
    </div>
    <div class="button-container">
        <button type="button">Opslaan</button>
    </div>
</div>
